<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IGM 480 5A</title>
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
</head>

<body>
    <h1>Babble</h1>
    <form>
        <label for="character">Type in a Character:</label>
        <input type="text" id="character" name="character" required>
        <input type="submit" value="Submit">
    </form>
    <p id="note">Available </p>

    <p id="story">

    </p>
</body>

</html>